<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.VirtualTrendsMovile"
        tools:targetApi="31">
        <activity
            android:name=".InicioActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:exported="false" />
        <activity
            android:name=".NuestroServicio"
            android:exported="true"
            android:configChanges="orientation|screenSize">
        </activity>
        <activity android:name=".DondeEstamosActivity">
        </activity>
        <activity
            android:name=".EditarPerfilActivity"
            android:exported="false" />
        <activity
            android:name=".ContactoActivity"
            android:exported="false" />
        <activity
            android:name=".RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".SelectorActivity"
            android:exported="true">
            <!--<intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>-->
        </activity>
        <activity
            android:name=".TurnosActivity"
            android:exported="false" />
        <activity
            android:name=".TurneroActivity"
            android:exported="false" />

        <activity android:name=".HorariosTurnosActivity">
        </activity>

        <activity android:name=".ConfirmarDatosPersonales">
        </activity>

        <activity android:name=".ComprobacionReserva">
        </activity>
        <activity android:name=".ConfirmacionFinal">
        </activity>


        <meta-data android:name="preloaded_fonts" android:resource="@array/preloaded_fonts"/>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>